mods/letmedespawn-1.21.x-fabric-1.4.4.jar filter=lfs diff=lfs merge=lfs -text
mods/modmenu-13.0.0-beta.1.jar filter=lfs diff=lfs merge=lfs -text
mods/NoChatReports-FABRIC-1.21.4-v2.11.0.jar filter=lfs diff=lfs merge=lfs -text
mods/smoke-signals-1.1+1.21.2.jar filter=lfs diff=lfs merge=lfs -text
mods/Terralith_1.21.x_v2.5.7.jar filter=lfs diff=lfs merge=lfs -text
mods/compostableFlesh-1.1-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/lambdynamiclights-4.0.1+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/SereneSeasons-fabric-1.21.4-10.4.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/additionallanterns-1.1.1-fabric-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/chunkloaders-1.2.8-fabric-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/dungeons-and-taverns-v4.6.jar filter=lfs diff=lfs merge=lfs -text
mods/dynamiclights-v1.8.5-mc1.17x-1.21x-mod.jar filter=lfs diff=lfs merge=lfs -text
mods/funcys-wandering-trader-1.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/optigui-2.3.0-beta.7+1.21.2.jar filter=lfs diff=lfs merge=lfs -text
mods/stackrefill-1.21.4-4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/t_and_t-fabric-neoforge-1.13.3.jar filter=lfs diff=lfs merge=lfs -text
mods/BadOptimizations-2.2.1-1.21.2-21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/dungeons+-1.9.0b.jar filter=lfs diff=lfs merge=lfs -text
mods/expanded-weapon-enchanting-1.2.2.jar filter=lfs diff=lfs merge=lfs -text
mods/fabric-language-kotlin-1.13.0+kotlin.2.1.0.jar filter=lfs diff=lfs merge=lfs -text
mods/midnightlib-fabric-1.6.6+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/waystones-fabric-1.21.4-21.4.1.jar filter=lfs diff=lfs merge=lfs -text
mods/youritemsaresafe-1.21.4-4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/0.5[[:space:]]HP[[:space:]]1.3v[[:space:]]21+.jar filter=lfs diff=lfs merge=lfs -text
mods/elytra-vaults-atlasplays-1.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/AdditionalStructures-1.21.x-(v.5.0.1-fabric).jar filter=lfs diff=lfs merge=lfs -text
mods/beaconrange-1.1.1.jar filter=lfs diff=lfs merge=lfs -text
mods/enchanted-vertical-slabs-2.5-fabric-mc1.21.4-rc3.jar filter=lfs diff=lfs merge=lfs -text
mods/Ore[[:space:]]Creeper-fabric-1.21.4-1.0.3-1.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/reeses-sodium-options-fabric-1.8.2+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/sit-1.21.3-29.jar filter=lfs diff=lfs merge=lfs -text
mods/village-hero-plus-5.2.2.jar filter=lfs diff=lfs merge=lfs -text
mods/bigger-stack-size-v.1.4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/i-know-how-to-play-1.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/starterkit-1.21.4-7.1.jar filter=lfs diff=lfs merge=lfs -text
mods/BiomesOPlenty-fabric-1.21.4-21.4.0.15.jar filter=lfs diff=lfs merge=lfs -text
mods/coordshud-1.2.4-mc1.21.2.jar filter=lfs diff=lfs merge=lfs -text
mods/formationsnether-1.0.5-mc1.21+.jar filter=lfs diff=lfs merge=lfs -text
mods/HopperTheHedgehog-2.1.2-1.21.2.jar filter=lfs diff=lfs merge=lfs -text
mods/cloth-config-17.0.144-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/integrated-circuit-1.21.4-1.5.3.jar filter=lfs diff=lfs merge=lfs -text
mods/resourcefulconfig-fabric-1.21.4-3.4.1.jar filter=lfs diff=lfs merge=lfs -text
mods/the_afterdark-1.21.4-fabric-1.0.3.1.jar filter=lfs diff=lfs merge=lfs -text
mods/cristellib-fabric-1.2.10.jar filter=lfs diff=lfs merge=lfs -text
mods/fabric-api-0.113.0+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/seasonhud-fabric-1.21.4-1.11.6.jar filter=lfs diff=lfs merge=lfs -text
mods/balm-fabric-1.21.4-21.4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/enderitemod-fabric-1.7.1-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/formations-1.0.3-fabric-mc1.21.2.jar filter=lfs diff=lfs merge=lfs -text
mods/mine-glass-without-silk-touch-v.1.1.0.jar filter=lfs diff=lfs merge=lfs -text
mods/modernfix-fabric-5.20.0+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/physics-mod-3.0.24-mc-1.21.4-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/placeholder-api-2.5.1+1.21.3.jar filter=lfs diff=lfs merge=lfs -text
mods/spark-1.10.121-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/giantspawn-1.21.4-5.2.jar filter=lfs diff=lfs merge=lfs -text
mods/repurposed_structures-7.5.13+1.21.4-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/unlock-all-recipes-61.1.jar filter=lfs diff=lfs merge=lfs -text
mods/copperhopper-0.13.0+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/infinitetrading-1.21.4-4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/SuperSimpleHome-1.3.9.jar filter=lfs diff=lfs merge=lfs -text
mods/combination-1.0.jar filter=lfs diff=lfs merge=lfs -text
mods/XaerosWorldMap_1.39.2_Fabric_1.21.4.jar.disabled filter=lfs diff=lfs merge=lfs -text
mods/elytra_chestplate-2.1+mod1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/entityculling-fabric-1.7.2-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/sound-physics-remastered-fabric-1.21.4-1.4.8.jar filter=lfs diff=lfs merge=lfs -text
mods/bucketfiller-3.1.0+MC-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/easyelytratakeoff-1.21.4-4.4.jar filter=lfs diff=lfs merge=lfs -text
mods/FrozenLib-1.9.7-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/infinitymendingbows-2.1.jar filter=lfs diff=lfs merge=lfs -text
mods/Ksyxis-1.3.2.jar filter=lfs diff=lfs merge=lfs -text
mods/moreculling-fabric-1.21.4-1.2.2.jar filter=lfs diff=lfs merge=lfs -text
mods/NBTac-FABRIC-1.21.4-1.3.11.jar filter=lfs diff=lfs merge=lfs -text
mods/SimpleCopperPipes-mc1.21.4-2.0.4.jar filter=lfs diff=lfs merge=lfs -text
mods/YetAnotherConfigLib-3.6.2+1.21.4-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/Almanac-1.21.3-fabric-1.4.4.jar filter=lfs diff=lfs merge=lfs -text
mods/Amplified_Nether_1.21.x_v1.2.7.jar filter=lfs diff=lfs merge=lfs -text
mods/areas-1.21.4-6.0.jar filter=lfs diff=lfs merge=lfs -text
mods/collective-1.21.4-7.89.jar filter=lfs diff=lfs merge=lfs -text
mods/guiclock-1.21.4-4.6.jar filter=lfs diff=lfs merge=lfs -text
mods/BetterCraftables_v3.1.0+mod_mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/dyed-item-frames-1.2+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/enchants-plus-1.5.1.jar filter=lfs diff=lfs merge=lfs -text
mods/formationsoverworld-1.0.4-mc1.21+.jar filter=lfs diff=lfs merge=lfs -text
mods/laserbridges-1.21.4-2-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/universal_ores-5.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/adorabuild-structures-2.9.1-fabric-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/c2me-fabric-mc1.21.4-0.3.2+alpha.0.14.jar filter=lfs diff=lfs merge=lfs -text
mods/kleeslabs-fabric-1.21.4-21.4.2.jar filter=lfs diff=lfs merge=lfs -text
mods/moreenchantments-1.3.jar filter=lfs diff=lfs merge=lfs -text
mods/resourcelibrary-fabric-1.21.4-2.4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/resource_nether_ores-fabric-1.21.4-2.3.4.jar filter=lfs diff=lfs merge=lfs -text
mods/TerraBlender-fabric-1.21.4-4.3.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/ImmediatelyFast-Fabric-1.3.3+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/sodiumcoreshadersupport-mc1.21.4-1.2.9-sodium0.6.6.jar filter=lfs diff=lfs merge=lfs -text
mods/1.3.1-TPA_mod-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/astral-plane-dimension-1.0a.jar filter=lfs diff=lfs merge=lfs -text
mods/BetterThanMending-2.2.3.jar filter=lfs diff=lfs merge=lfs -text
mods/oreharvester-1.21.4-1.4.jar filter=lfs diff=lfs merge=lfs -text
mods/blades-temples-1.1.0.jar filter=lfs diff=lfs merge=lfs -text
mods/clearwater-fabric-1.21.4-3.1.0.jar filter=lfs diff=lfs merge=lfs -text
mods/HopoBetterUnderwaterRuins-[1.21.4]-1.2.2.jar filter=lfs diff=lfs merge=lfs -text
mods/iris-fabric-1.8.5+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/sodium-fabric-0.6.6+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/Geophilic[[:space:]]v3.1.5[[:space:]]f15-61.jar filter=lfs diff=lfs merge=lfs -text
mods/Mo-Glass-1.10.1-MC1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/Clumps-fabric-1.21.4-22.0.0.1.jar filter=lfs diff=lfs merge=lfs -text
mods/FastMinecart-v1.0.2.jar filter=lfs diff=lfs merge=lfs -text
mods/sodium-extra-fabric-0.6.1+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/Xaeros_Minimap_24.7.1_Fabric_1.21.4.jar.disabled filter=lfs diff=lfs merge=lfs -text
mods/architectury-15.0.1-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/crying-1.0.4.jar filter=lfs diff=lfs merge=lfs -text
mods/Debugify-1.21.4+1.0.jar filter=lfs diff=lfs merge=lfs -text
mods/doubledoors-1.21.4-6.0.jar filter=lfs diff=lfs merge=lfs -text
mods/owo-lib-0.12.20+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/packetfixer-fabric-1.5.0-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/players-drop-heads-61.1.jar filter=lfs diff=lfs merge=lfs -text
mods/supermartijn642corelib-1.1.17d-fabric-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/glow_ink_plus-fabric-1.21.2-1.2.jar filter=lfs diff=lfs merge=lfs -text
mods/lithium-fabric-0.14.3+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/mine-spawners-1.4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/polyfactory-0.6.1+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/stack-enchants-1.0.jar filter=lfs diff=lfs merge=lfs -text
mods/ForgeConfigAPIPort-v21.4.1-1.21.4-Fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/GpuTape-1.21x-1.18x-1.0.5.jar filter=lfs diff=lfs merge=lfs -text
mods/Incendium_1.21.x_v5.4.4.jar filter=lfs diff=lfs merge=lfs -text
mods/polymer-bundled-0.11.3+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/respawningshulkers-1.21.4-4.0.jar filter=lfs diff=lfs merge=lfs -text
mods/dimensionalTracker-1.3.0.jar filter=lfs diff=lfs merge=lfs -text
mods/inventorytotem-1.21.4-3.3.jar filter=lfs diff=lfs merge=lfs -text
mods/lootr-fabric-1.21.4-1.12.36.88.jar filter=lfs diff=lfs merge=lfs -text
mods/ferritecore-7.1.1-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/rpc-1.1.2+1.20.3-1.21.4-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/smallernetherportals-1.21.4-3.8.jar filter=lfs diff=lfs merge=lfs -text
mods/supermartijn642configlib-1.1.8-fabric-mc1.21.jar filter=lfs diff=lfs merge=lfs -text
mods/bettercrafting-1.21.4-17-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/cullleaves-fabric-4.0.3.jar filter=lfs diff=lfs merge=lfs -text
mods/expanded-armor-enchanting-1.0.12.jar filter=lfs diff=lfs merge=lfs -text
mods/GlitchCore-fabric-1.21.4-2.3.0.3.jar filter=lfs diff=lfs merge=lfs -text
mods/HopoBetterMineshaft-[1.21.4]-1.2.9.jar filter=lfs diff=lfs merge=lfs -text
mods/HopoBetterRuinedPortals-[1.21.4]-1.4.5.jar filter=lfs diff=lfs merge=lfs -text
mods/tntbreaksbedrock-1.21.4-3.4.jar filter=lfs diff=lfs merge=lfs -text
resourcepacks/better_flame_particles-v2.2-mc1.14x-1.21x-resourcepack.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/Default[[:space:]]HD[[:space:]]128x[[:space:]]Demo[[:space:]]1.7.7.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/EvenBetterEnchants_v2_r1.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/NewGlowingOres-§6[Border]§r.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/Redstone[[:space:]]Tweaks[[:space:]]2.4.7.zip filter=lfs diff=lfs merge=lfs -text
shaderpacks/ComplementaryReimagined_r5.3 filter=lfs diff=lfs merge=lfs -text
shaderpacks/ComplementaryReimagined_r5.3.txt filter=lfs diff=lfs merge=lfs -text
shaderpacks/ComplementaryUnbound_r5.3 filter=lfs diff=lfs merge=lfs -text
mods/TP-Utils-1.9.17-mc1.21.jar filter=lfs diff=lfs merge=lfs -text
mods/krypton-0.2.8.jar filter=lfs diff=lfs merge=lfs -text
mods/healthindicatortxf-1.21.4-1.3.4-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/nicerportals-1.6.0+1.21.2.jar filter=lfs diff=lfs merge=lfs -text
mods/polydecorations-0.6.0+1.21.4-rc3.jar filter=lfs diff=lfs merge=lfs -text
mods/polydex-1.4.0+1.21.4-rc3.jar filter=lfs diff=lfs merge=lfs -text
mods/resource_backpacks-fabric-1.21.4-0.10.7-BETA.jar filter=lfs diff=lfs merge=lfs -text
mods/tooltiptweaks-2.0.1-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/wayfix-1.0.3+1.20+.jar.disabled filter=lfs diff=lfs merge=lfs -text
mods/fast-doll-1.10-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/container-tooltips-1.3.3+1.21.4-beta.1.jar filter=lfs diff=lfs merge=lfs -text
mods/flopper-1.21.4-fabric-1.1.8-169.jar filter=lfs diff=lfs merge=lfs -text
mods/SlashPortal-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
mods/Stackable[[:space:]]Totems.zip filter=lfs diff=lfs merge=lfs -text
mods/BetterGrassify-1.4.2+fabric.1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/cyclopscore-1.21.4-fabric-1.25.5-690.jar filter=lfs diff=lfs merge=lfs -text
mods/resourceconfigapi-fabric-1.21-2.1.5.jar filter=lfs diff=lfs merge=lfs -text
mods/seasonhud-fabric-1.21.4-1.11.7.jar filter=lfs diff=lfs merge=lfs -text
mods/supermartijn642corelib-1.1.18-fabric-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/chest-colorizer-1.4.1-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/ScalableLux-0.1.2+beta.1+fabric.6d46f24-all.jar filter=lfs diff=lfs merge=lfs -text
mods/chat_heads-0.13.8-fabric-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/InfiniteLava[[:space:]]Fabric[[:space:]]1.21.4[[:space:]]1.0.1.jar filter=lfs diff=lfs merge=lfs -text
mods/PerPlayerWanderingTraders-1.0.2+1.20.6.jar filter=lfs diff=lfs merge=lfs -text
mods/c2me-fabric-mc1.21.4-0.3.2+alpha.0.20.jar filter=lfs diff=lfs merge=lfs -text
mods/enchants-plus-1.6.jar filter=lfs diff=lfs merge=lfs -text
mods/just-hammers-fabric-21.4.0.jar filter=lfs diff=lfs merge=lfs -text
mods/resource_backpacks-fabric-1.21.4-0.11.0-BETA.jar filter=lfs diff=lfs merge=lfs -text
mods/resourcelibrary-fabric-1.21.4-2.4.6.jar filter=lfs diff=lfs merge=lfs -text
mods/sodiumoptionsapi-fabric-1.0.9-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/BiomesOPlenty-fabric-1.21.4-21.4.0.16.jar filter=lfs diff=lfs merge=lfs -text
mods/blades-temples-1.1.1.jar filter=lfs diff=lfs merge=lfs -text
mods/videotape-1.5.0.jar filter=lfs diff=lfs merge=lfs -text
mods/fabric-api-0.114.0+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/FrozenLib-1.9.10-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/resourceconfigapi-fabric-1.21.4-3.4.3.jar filter=lfs diff=lfs merge=lfs -text
mods/Resourcify[[:space:]](1.21.3-4-fabric)-1.6.0.jar filter=lfs diff=lfs merge=lfs -text
mods/SodiumExtraInformation-fabric-2.4.1.jar filter=lfs diff=lfs merge=lfs -text
mods/villagerinabucket-fabric-1.21.4-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
mods/vmp-fabric-mc1.21.4-0.2.0+beta.7.187-all.jar filter=lfs diff=lfs merge=lfs -text
mods/cyclopscore-1.21.4-fabric-1.25.5-691.jar filter=lfs diff=lfs merge=lfs -text
mods/expcounter-1.21.4-2-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/crying-2.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/modernfix-fabric-5.20.1+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/noisium-fabric-2.5.0+mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/panda-tnt-fusion-1.0.0_1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/async-0.1.6+alpha.1-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/BetterGrassify-1.4.3+fabric.1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/netherited-fabric-1.21.4-2.0.1.jar filter=lfs diff=lfs merge=lfs -text
fabric-installer-1.0.1.exe filter=lfs diff=lfs merge=lfs -text
fabric-installer-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
mods/copperhopper-0.13.1+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/Enchants+[[:space:]]1.21.2[[:space:]]-[[:space:]]1.21.4[[:space:]]fabric-forge.jar filter=lfs diff=lfs merge=lfs -text
mods/Ore[[:space:]]Creeper-fabric-1.21.4-1.1.0-1.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/TerraBlender-fabric-1.21.4-4.3.0.2.jar filter=lfs diff=lfs merge=lfs -text
mods/BiomesOPlenty-fabric-1.21.4-21.4.0.19.jar filter=lfs diff=lfs merge=lfs -text
mods/elytra_chestplate-2.2+mod1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/half-hp-1.4v.jar filter=lfs diff=lfs merge=lfs -text
mods/resource_backpacks-fabric-1.21.4-0.11.6-BETA.jar filter=lfs diff=lfs merge=lfs -text
mods/modmenu-13.0.0.jar filter=lfs diff=lfs merge=lfs -text
mods/SuperSimpleHome-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/BetterGrassify-1.4.4+fabric.1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/c2me-fabric-mc1.21.4-0.3.2+alpha.0.22.jar filter=lfs diff=lfs merge=lfs -text
mods/cyclopscore-1.21.4-fabric-1.25.5-695.jar filter=lfs diff=lfs merge=lfs -text
mods/GlitchCore-fabric-1.21.4-2.3.0.4.jar filter=lfs diff=lfs merge=lfs -text
mods/astral-plane-dimension-1.1.jar filter=lfs diff=lfs merge=lfs -text
mods/fabric-api-0.114.2+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/moreculling-fabric-1.21.4-1.2.3.jar filter=lfs diff=lfs merge=lfs -text
mods/WilderWild-3.0.11-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/advancednetherite-fabric-2.2.2-1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/animal_feeding_trough-1.1.3+1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/explorations-fabric-1.21.4-1.6.1.jar filter=lfs diff=lfs merge=lfs -text
mods/livingthings-fabric-1.21.4-2.2.0.jar filter=lfs diff=lfs merge=lfs -text
shaderpacks/PotatoShaders_v1.0d filter=lfs diff=lfs merge=lfs -text
resourcepacks/colourful[[:space:]]containers.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/CTM-Overhaul-V_5.0.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/Default-Dark-Mode-1.20.2+-2024.6.0.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/Default-Dark-Mode-Expansion-1.18.0+1.18.2-2025.1.1.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/guiretextures-1.13.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/VanillaLootr-1.20.1.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/§7[1.20.2]§lGlass-Bottom[[:space:]]Boat[32x].zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/No[[:space:]]Pumpkin[[:space:]]Blur[[:space:]]1.21.2[[:space:]]-[[:space:]]1.12.3.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/Optimum[[:space:]]Realism[[:space:]]R2.9.0[[:space:]]64x[[:space:]][Kappa,[[:space:]]BSL,etc][[:space:]]WIP.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/quieter[[:space:]]pistons[[:space:]]beta_1.7[[:space:]]-[[:space:]]1.21.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/enchant[[:space:]]icons[[:space:]]1.21[[:space:]]v1.3.zip filter=lfs diff=lfs merge=lfs -text
mods filter=lfs diff=lfs merge=lfs -text
options.txt filter=lfs diff=lfs merge=lfs -text
resourcepacks filter=lfs diff=lfs merge=lfs -text
mods/c2me-fabric-mc1.21.4-0.3.2+alpha.0.24.jar filter=lfs diff=lfs merge=lfs -text
mods/FrozenLib-1.9.11-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/limitless-banners-1.2.0.jar filter=lfs diff=lfs merge=lfs -text
mods/resourcepackchecker-fabric-1.21.4-1.2.2.jar filter=lfs diff=lfs merge=lfs -text
mods/Stfu-1.2.3.jar filter=lfs diff=lfs merge=lfs -text
mods/supermartijn642corelib-1.1.18a-fabric-mc1.21.4.jar filter=lfs diff=lfs merge=lfs -text
mods/fast-ip-ping-v1.0.5-mc1.21.1-fabric.jar filter=lfs diff=lfs merge=lfs -text
mods/kleeslabs-fabric-1.21.4-21.4.3.jar filter=lfs diff=lfs merge=lfs -text
